body {
    background-color: dimgray;
}

#topRow, #botRow {
    display: flex;
    justify-content: space-between;
}

#header {
    display: flex;
    justify-content: flex-start;
}

#info {
    opacity: 0.5;
}

#topRight {
    display: flex;
    margin-left: auto;
    margin-top: 4px;
    background-color: slategrey;
    opacity: 0.8;
    margin-bottom: 30px;
}

#winsLbl, #info {
    padding: 5px;
}

#winsVal {
    margin-right: 20px;
    padding-top: 5px;
}

.imgContainer, #pool, #unpool, #empty {
    width: 12%;
    margin-bottom: 5px;
    position: relative;
}

.imgContainer img, #pool img, #unpool img {
    width: 100%;
    position: absolute;
}

#topRow img {
    height: 100%;
}

.clickable {
    cursor: pointer;
}

button {
    margin-left: 2px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 4px;
    padding: 8px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
}

button:hover {
    background-color: #3e8e41;
}

.spacer {
    visibility: hidden;
    position: relative;
    width: 100%;
}

.holder {
    opacity: 0.2;
}

.ui-draggable {
    cursor: move;
}

.dragHover {
    border: 5px solid blue;
    margin-left: -5px;
    margin-top: -5px;
    border-radius: 10px;
}

.hidden, .ui-dialog-titlebar-close, .ui-dialog-title {
    display: none;
}

#remain {
    position: absolute;
}

.ui-dialog {
    background-color: floralwhite;
    padding: 10px;
    border: 3px solid darkgray;
}

#dlgOptions {
    font-size: x-large;
    margin-bottom: 10px;
}

#chooseBkgd {
    margin-bottom: 5px;
}

#bkgdOptions input {
    margin-right: 10px;
}

.dlgRow {
    display: flex;
    margin-bottom: 10px;
}

#dlgOptions select {
    font-size: x-large;
    margin-left: auto;
}

#spiral {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
